<style type="text/css">
    .root {
        display: flex;
        background-color: #ecf0f1;

        height: 100vh;
        align-items: center;
        flex-direction: column;
    } 

    .subdiv {
        width: 1200px;
        height: 6000px;
        background-color: #FFF;
        padding: 20px;
        border-radius: 10px;
    }

    .gap {
        margin-top: 20px;
    }
</style>
<html>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js
    "></script>
<script src="/javascripts/project.js"></script>
<body style="background-color: darkblue;">



<form action="" method="get" enctype="">
    <div class="root">
        <div style="padding: 10px;font-size: 30px; font-weight: bold;letter-spacing: 2px; color: crimson;">
            <img src="/images/resume.png" width="30">
            : Resume Details :
           
        </div>
        <div class="subdiv">
            

            <div class="row" style="padding: 10px;font-weight: bold;color: coral;">Personal Details :</div>

            <div class="row">
                <div class="col">
                <b>Individual Name :</b>&nbsp;<input type="text" class="form-control" required pattern="[a-z A-Z]+" placeholder=" Name" name="name">
                </div>
                <div class="col">
                    <b>Father Name :</b>&nbsp;<input type="text" class="form-control" required pattern="[a-z A-Z]+" placeholder="Last Name" name="farthername">
                </div>
            </div>
            <div class="row gap">
                
                <div class="col" style="display:flex;justify-content:center;align-items:center">
                    <input required type="radio" name="gender" value="Male"><i class="fas fa-male"
                        style="color: darkslategrey;font-size: 25px;margin-left: 10px;margin-right: 30px;"></i>
                    <input required type="radio" name="gender" value="Female"><i class="fas fa-female"
                        style="color:palevioletred ;font-size: 25px;margin-left: 10px;"></i>
                </div>
                <div class="col">
                    <b>Date of Birth :</b>&nbsp;
                    <input required type="date" class="form-control" name="birthdate">
                </div>

            </div>
            <div class="row" style="padding: 10px;font-weight: bold;color:black;">Upload Image :</div>
            <div class="row">
                <div class="col">
                    <input required type="file" class="form-control" name="picture">
                </div>
            </div>

            <div class="row" style="padding: 10px;font-weight: bold;color: coral;">Contact Details :</div>
            <div class="row">
                <div class="col">
                    <select required id="state" class="form-control" name="state"></select>
                </div>
                <div class="col">
                    <select required name="city" class="form-control" id="city"></select>
                </div>
            </div>
            <div class="row gap">
                <div class="col ">
                    <input required type="text" class="form-control" placeholder="Email Address" name="email">
                </div>
                <div class="col">
                    <input required pattern="[0-9]{10}" title="Must be 10 Digits only" type="text" class="form-control" placeholder="Phone Number" name="mobile">
                </div>
            </div>
            <div class="row" style="padding: 10px;font-weight: bold;color:blue;">Pyment Details :</div>

            <div class="row">
                <div class="col">
                    <input required type="text" class="form-control" placeholder="Amount Due" name="amountdue">
                </div>
                <div class="col">
                    <input required type="text" class="form-control" placeholder="Amount Paid" name="amountpaid">
                </div>
            </div>
            <div class="row gap">
                <div class="col" style="display:flex;justify-content:center;align-items:center">
                    <input required type="checkbox" name="paymenttype" value="Rupee"><i class="fas fa-rupee-sign"
                        style="color: darkslategrey;font-size: 25px;margin-left: 10px;margin-right: 30px;"></i>
                    <input required type="checkbox" name="paymenttype" value="Dollar"><i class="fas fa-dollar-sign"
                        style="color:palevioletred ;font-size: 25px;margin-left: 10px;"></i>
                </div>
                <div class="col">
                    <input required type="text" class="form-control" name="gst" placeholder="Gst">
                </div>
            </div>

            <div class="row gap">
                <div class="col" style="display:flex;justify-content:center;align-items:center">
                    <input type="submit" class="btn btn-primary" style="width: 200px;">
                </div>
                <div class="col" style="display:flex;justify-content:center;align-items:center">
                    <input type="reset" class="btn btn-primary" style="width: 200px;">

                </div>
            </div>
           

        </div>
</form>
</body>


</html>