<html>
    <body style="background-color: darkblue;">
    <center>
        <h3>Edit Resume Image</h3>
        <form action="/resume/editPicture" method="POST" enctype="multipart/form-data" >
        <input type="hidden" name="personid" value="<%=personid%>"><br>
        <img src="/images/<%=picture %>" width="300" hight="300"><br><br>
        <b>Choose New Picture:</b><br><br>
        <input type="file" name="picture"> <br><br>
        <input type="submit" value="Update Picture">
        </form>

    </center>
    </body>
</html>