<style type="text/css">
.root{
    display: flex;
    background-color: darkblue;
    height: 800px;
    align-items: center;
    margin-bottom: 40px;
}
.subdiv{
    margin-top: 20px;
    margin-left: 60px;
    width: 1100px;
    height: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}


.gap{
    margin-top: 20px;
}
.gapp{
    margin-top: 80px;
}


</style>
<html>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
    <body style="background-color: darkblue;">

 

    <div class="root">
        
            
                <div class="subdiv gap">
                    <div class="row col">

                    <div style="padding: 10px;font-size: 40px;font-weight: bold;letter-spacing: 2px; color: blue; ">
                   <i>  Itsash Resume builder </i>
                   <div class="row col gap">
                    <img src="/images/resu.jpg" width="450px" height="450px">
                </div>
                   
                    </div>
                    <div class="col gapp">
                        <body style="font-size: 20px; ;">
                            <h1>Every Great Career Begins with a Solid Resume:</h1>
                            <br<br><br>

                            
                            Before you ever step foot in a HR recruiter’s office to interview for that dream job, your resume is the first thing that crosses their desk.
                            
                            Because they can’t meet you firsthand to witness your witty personality, focused, driven work ethic, and ability to fit in well with any team, your resume has to do the talking for you.
                            That’s why it’s essential that your resume properly expresses who you are, what you bring to the table, and why they should immediately pick up the phone and get you in the building.
                            With ResumeCat you can be sure that your resume isn’t just being added to the pile; but that it stands out and makes recruiters take notice.
                            <br><br>
                            <a href="/resume/detailsInput"><b>Click To Create Resume</b></a>
                        </body>
                    </div>
                </div> 
                   
                
                
                
                    </div>
                    
                </div>

            </div>
        </div>
    </div>
</body>

</html>